body
{
	background-color: #EFEFEF;
}

#container
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 1.5px solid #E0E0E0;
	padding: 50px;
	background-color: #EAEAEA;
	font-family: 'Lato', sans-serif;


}

#title
{
	font-family: 'MedievalSharp', cursive!important;
	font-size: 52px;
}

#icon
{
	float: left;
}
#name
{
	float: left;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}

#map
{
	width:500px;
	height:500px;
	border: 1.2px solid grey;
	margin-left: auto;
	margin-right: auto;
}

#tools
{
	margin-left: 20px;
	margin-right: 20px;
	padding:5px;
}

.form-box
{
	clear:both;
	padding-top:20px;
}

.form-box label
{
	width:100px;
	float:left;
}
.form-box input[type="range"]
{
	width:150px;
}
.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 2px;
  background:#5784ED;
  outline: none;
  border: 1px solid #000000;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background:#5784ED;
  outline: none;
  border: 1px solid #000000;
  }

.form-box input[type=radio]
{
	width:35px;
}
.form-box button
{
	float:right;
	width:150px;
	height:25px;
	background-color:#5784ED;
	border-radius: 5px;
	border: 1px solid #000000;
}

#text
{
	padding-top: 30px;
	padding-left: 20px;
	float:left;
	width:300px;
}
#image
{
	float:left;
}